# Imports

In [9]:
import os
import pandas as pd
import requests
import zipfile

# Data settings

In [6]:
url = 'https://www.kaggle.com/api/v1/datasets/download/imdevskp/corona-virus-report'
data_path = '../data/bronze'
file_name = 'covid_19_clean_complete.csv'

# Data Collect

In [32]:
response = requests.get(url, allow_redirects=True)
zip_path = os.path.join(data_path, 'corona-virus-report.zip')
open(zip_path, 'wb').write(response.content)

19921674

# Extract and Load Data into DataFrame

In [33]:
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(data_path)

In [34]:
file_path = os.path.join(data_path, file_name)
df = pd.read_csv(file_path)
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [36]:
len(df['Date'].unique())

188